<div class="jumbotron center">
		<h1>Welcome to WKP</h1>
		<br/>
     <% if user_signed_in? %>
			<%= link_to "All events", events_path, class: "btn btn-default btn-md" %>
			<%= link_to "New Event", new_event_path, class: "btn btn-primary btn-md" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-md" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-md" %>
       </p>
  <% end %>  
</div>

